<!-- About Section -->
    <section id="about" style="padding-top:100px; padding-bottom:0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"> Welcome to my online resume & portfolio. I am an open source and open data enthusiast looking for challenges within software development, and focusing on creating smart and user-friendly interfaces. Currently in a leadership position  in Code for Jersey City and Code for Princeton as well as volunteer in CERT (Community Emergency Response Team) of my town. </h3>
                </div>
            </div>
        </div>
    </section>
